.card{
    margin: auto;
    width: 400px;
    height: auto;
}

.btn{
    background-color: rgb(180, 128, 230);
}

.weather-data{
    width: 100%;

    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
   display: flex;
   align-items: flex-start;
   gap: 12px;
   font-size: 22px;
   /* color: black; */
 }

.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 10px;
}
