
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    display: grid;
    background-color: rgb(217, 171, 219);
}

.show-card{
    width: 100%;
    height: auto;
    background-color: aliceblue;
}